annotated-types
certifi
charset-normalizer
click
contourpy
cycler
docker-pycreds
filelock
fonttools
fsspec
gitdb
GitPython
idna
Jinja2
joblib
kiwisolver
MarkupSafe
matplotlib
matplotlib-inline
mpmath
networkx
numpy
packaging
pandas
pillow
pip
platformdirs
powerlaw
protobuf
psutil
pydantic
pydantic_core
pyparsing
python-dateutil
pytz
PyYAML
requests
safetensors
scikit-learn
scipy
seaborn
sentry-sdk
setproctitle
setuptools
six
smmap
sympy
threadpoolctl
tqdm
traitlets
typing_extensions
tzdata
urllib3
wandb
weightwatcher
wheel
torch --index-url https://download.pytorch.org/whl/cu126 
torchvision --index-url https://download.pytorch.org/whl/cu126
torchaudio --index-url https://download.pytorch.org/whl/cu126
